ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

textarea {
  white-space: normal;
  font-size: inherit;
  padding: 0;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  text-align: center;
}

.hero-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 40px;
}

.hero-title p {
  color: #000;
  font-size: 1.2em;
}

.poster-container {
  border: 1px solid #eee;
  border-radius: 8px;
  margin: 0 10px;
  background-color: #fff;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  transition: transform 0.3s;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  margin-bottom: 20px;
  display: flex;
}

.poster-container > img {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.posters-wrapper {
  display: flex;
  flex-wrap: wrap;
  background-color: #fff;
  border-radius: 8px;
  margin: 0 auto;
  padding: 1em;
  position: relative;
  top: 2em;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.main-poster-container {
  width: 100%;
  display: inline-flex;
  justify-content: space-evenly;
}

.primary-labels {
  padding: 0 1em 1em 1em;
  font-weight: bold;
  text-align: center;
  letter-spacing: 0.5px;
}

.movie-title {
  font-weight: bold;
}

.c-movie-analytics {
  font-size: small;
  display: inline-flex;
}

.movie-desc {
  width: 250px;
  height: 200px;
  display: block;
}

.movie-desc:hover {
  white-space: normal;
  overflow: visible;
  text-overflow: unset;
}

.movie-card-text {
  padding: 5px 8px 8px 10px;
}

.rating-section {
  border-top: 1px solid #000;
  padding-top: 5px;
  margin-top: 5px;
  display: table;
  content: "";
  clear: both;
  width: 100%;
}

.rating-with-color {
  color: #ffa500;
}

.stars-rating {
  float: left;
}

.c-favorite-icon {
  float: right;
}

.c-favorite-icon > .fa-heart {
  color: teal;
}

.movie-image-cont {
  height: 380px;
  width: 100%;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  background-color: #000;
}

.movie-image-cont > img {
  height: inherit;
  width: inherit;
  object-fit: cover;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

.botted-space {
  height: 4px;
  width: 4px;
  border-radius: 100%;
  position: relative;
  top: 6px;
  margin: 0px 8px 0px 8px;
}

.card-header-labelCont {
  display: table;
  content: "";
  clear: both;
  width: 100%;
}

.header-leading-label {
  float: left;
}

#searchMovie {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 3px solid #ccc;
  box-sizing: border-box;
}

#searchMovie:focus {
  border: 3px solid #555;
  outline: none;
}

.header-filter-tag {
  float: right;
}

.social-platforms-links {
  text-align: end;
  padding: 5px 1em 0px 0px;
  opacity: 0.8;
  border-top: 1px solid #000;
  display: table;
  content: "";
  width: 100%;
  font-size: small;
}

.footer-heart-icon {
  color: red;
}

.footer-made-name:hover {
  border-bottom: 1px solid teal;
  font-weight: bold;
}

.f-social-cont {
  margin: 0 3px 0 0;
  font-size: 18px;
  top: 2px;
  position: relative;
}

.f-contact-det {
  float: left !important;
}

.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #00b4cc;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9dbfaf;
}

.searchTerm:focus {
  color: #00b4cc;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #00b4cc;
  background: #00b4cc;
  text-align: center;
  color: #000;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap {
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
